@import 'mixins';

$colors:(
    primary : #2475B0,
    accent :#218F76,
    font: #F3B431,
    kindWhite :#EAF0F1
);

// Function after every key value pair
@function color($colorname){
    @return map-get($map: $colors, $key: $colorname);
}

main{
    height: 120vh;
    overflow: hidden; 
    @include coverImage("../img/carosal/1.JPG");
    text-align: right;  
    margin-top: -5%;

    @media (min-width: 320px) and (max-width: 480px) {
        h2{
            margin-right: 20%;
            margin-top:60%;
            padding: auto;
            color: color(font);
            font-size: 25pt;
        }
    
        h3{
            margin-right:35pt;
            color: color(font);
            font-size: 20pt;
        }
    
        h4{
            color: color(kindWhite);
            margin-top:15pt;
            margin-right:16%;
            font-size: 20pt;
        }        
        
      }
    @media (min-width: 1025px){
        h2{
        margin-right: 10%;
        margin-top: 38%;
        padding: auto;
        color: color(font);
        font-size: 30pt;
        // font-weight: bolder;
    }

    h3{
        margin-right:25pt;
        color: color(font);
        font-size: 20pt;
    }

    h4{
        color: color(kindWhite);
        margin-top:15pt;
        margin-right:10%;
        font-size: 15pt;
    }
        
      }
    
}

@media(min-width:1025px){
    .logoNav{
        display: none !important;
    }
    .collapse navbar-collapse{
        display: none !important;
    }
}
 
@media (min-width: 320px) and (max-width: 480px) {

    .logoNav{
        color:color(kindWhite) !important;
    }

    main{
        height: 105vh;
    }
    .parent{
        h1{
            font-size: 20pt;
        }
    }
}

nav{
    background: rgba(0,0,0,0.8) !important;
    
}

.carImg{
    background-image: linear-gradient(
        to top,
        rgba(0,45,75,0.2),
        rgba(0,0,0,0.9)
    );
}


.aboutp{
    text-align: justify;
    font-size:13pt;
}

.heading{
    margin:5pt;
    padding: 15pt;
}


// .container{
//     .navbar-header{
//         display: none;
//     }
//     #loso-navbar-collapse-1{
//         display: none;
//     }
// }


.newKeyPic{
    height: 160pt !important;
    width: 160pt !important;
}

.keyNoteDetails{
    text-align: left;
    padding-top: 10pt;
    margin-top: auto;
}

.speakerClass{
    padding : 10pt 0pt ;
    margin: auto;
}

.themeClass3{
    text-align: left;
    padding: 5pt;   
}


.springerLogo{
    height: 50%;
    width: 50%;
    align-items: center;
    text-align: center;
    align-content: center;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.table{
    width:50%; 
    margin-left:25%; 
    margin-right:25%;
}