

*{
    font-family: 'Montserrat';
}

li{
  list-style:none;
}
/* Navbar */

.navbar-default{
  background-color: transparent;
  border-color: #444;
  z-index: 110;
  transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
}
.navbar-default .navbar-nav > li > a{
  color: #EAF0F1;
  transition: all 1s;
  font-size: 12pt;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
}
.navbar-brand img{
  height: 100%;
  transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
}
.navbar-default .navbar-nav > li > a:hover{
  color: #129CF3 !important;

}
.navbar-default .navbar-nav > li > a:focus{
  color: #111;
}
navbar-default .navbar-nav > .active >a,
navbar-default .navbar-nav > .active >a:hover,
navbar-default .navbar-nav > .active >a:focus{
  background-color: transparent;
  color: #129cf3;
}
  /* Main Body CSS */
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  /* h1 {
    font-size: 60px;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    text-transform: uppercase;
    font-size: 120px;
    letter-spacing:5px;
    padding-top:40px;
  } */
  
  article p {
    padding-bottom: 15px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  
  article a {
    color: #fff;
    text-decoration: none;
    opacity: .2;
    font-size: 12px;
  }
  
  article a:hover {
    opacity: .8;
  }
  
  @keyframes top-bar {
    50% {
      transform: translateY(0);
    }
    100% {
      transform: rotate(45deg) translateY(0);
    }
  }
  
  @keyframes bottom-bar {
    50% {
      transform: translateY(0);
    }
    100% {
      transform: rotate(-45deg) translateY(0);
    }
  }
  
  
  @media screen and (max-width:800px) {
  
    h1 {
      padding-top:80px;
      font-size: 60px;
    }
  }
  

  /* Team */

  .our-team-section {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
}
.our-team-section:before {
    position: absolute;
    top: -0;
    left: 0;
    content: " ";
    background-size: 100% 100px;
    width: 100%;
    height: 100px;
    float: left;
    z-index: 99;
}
.our-team {
    padding: 30px 0 40px;
    background: #f9f9f9;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-bottom: 5px solid #00325a;
}
.our-team:hover{
    border-bottom: 5px solid #2f2f2f;
}

.our-team .pic{
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
}
.our-team .pic:before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #00325a;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 1;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}
.our-team:hover .pic:before{
 height: 100%;
    background: #2f2f2f; 
 }
.our-team .pic:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffffff00;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s linear 0s;
}
.our-team:hover .pic:after{
    background: #7ab92d;
}
.our-team .pic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
    position: relative;
    z-index: 2;
}
.our-team:hover .pic img{
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
}
.our-team .team-content{ margin-bottom: 30px; }
.our-team .title{
    font-size: 22px;
    font-weight: 700;
    color: #4e5052;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.our-team .post{
    display: block;
    font-size: 15px;
    margin: 10pt;
    color: #4e5052;
    text-transform:capitalize;
}
.our-team .social{
    width: 100%;
    padding: 0;
    margin: 0;
    background: #2f2f2f;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}
.our-team:hover .social{ bottom: 0; }
.our-team .social li{ display: inline-block; }
.our-team .social li a{
    display: block;
    padding: 10px;
    font-size: 17px;
    color: #fff;
    transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}


/* Heading */

.sideHead{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10pt;
}

.imgLogo2{
    height: 130pt !important;
    width: 400pt !important;
}

.coConv{
    align-content: center;
}


/* Footer */



/* Timer */

#days {
    font-size: 15pt;
    color: #192A56;
  }
  #hours {
    font-size: 15pt;
    color: #2475B0;
  }
  #minutes {
    font-size: 15pt;
    color: #0ABDE3;
  }
  #seconds {
    font-size: 15pt;
    color: #25CCF7;
  }


  /* hr */

  hr {
    border: 0;
    clear: both;
    display: block;
    margin: 5.4rem auto;
    text-align: center;
    width: 100%;
  }


  /* -- Animated hr -- */

.progress {
    background: rgba(1, 15, 30, 0.1);
    height: 1px;
    overflow: hidden;
    position: relative;
  }
  
  .progress::before {
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-name: progress;
    background: #111;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    width: 80px;
  }
  
  @keyframes progress {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(1440px);
    }
  }
  
  /* About */

  .aboutp{
      text-align: justify;
  }


  /* Program */

  ul {
    list-style: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }
  
  .cf:before,
  .cf:after {
    content: " ";
    display: table;
  }
  
  .cf:after {
    clear: both;
  }
  
  /*Zurb Grid*/
  /*
  Some basic resets, fixes and useful styles
  */
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  img,
  object,
  embed {
    max-width: 100%;
    height: auto;
  }
  
  object,
  embed {
    height: 100%;
  }
  
  img {
    -ms-interpolation-mode: bicubic;
  }
  
  .clearfix {
    *zoom: 1;
  }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table;
  }
  .clearfix:after {
    clear: both;
  }
  
  .hide {
    display: none;
  }
  
  img {
    display: inline-block;
    vertical-align: middle;
  }
  
  .box {
    background: #ccc;
    height: 45px;
  }
  
  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  ul.main {
    list-style: none;
    max-width: 75%;
    margin: 20px auto;
  }
  
  h3 {
    padding: 0;
    margin: 0;
  }
  
  .date {
    width: 17%;
    padding: 15% 1% 0 0;
    float: left;
  }
  
  .date h3 {
    font-size: 1.5em;
  }
  
  .date p {
    font-size: .8em;
  }
  
  .events {
    float: left;
    width: 80%;
    border-left: 1px solid #ccc;
    margin-top: 10%;
    padding-top: 3%;
  }
  
  .events-detail {
    max-width: 550px;
  }
  
  .events-detail li {
    padding: 10px;
    border-bottom: 1px dashed #ccc;
    line-height: 5px;
    transition: ease .4s all;
    padding-top: 15px;
  }
  
  .events-detail li:hover {
    background: #e9e9e9;
  }
  
  .event-time {
    font-weight: 900;
  }
  
  .events-detail li a {
    text-decoration: none;
    color: #444;
    width: 100%;
    height: 100%;
    display: block;
  }
  
  .event-location {
    font-size: .8em;
    color: tomato;
    /* margin-left: 70px; */
    text-align: center
  }
  
  @media all and (max-width: 641px) {
    .date {
      width: 100%;
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
    }
  
    .events {
      border: none;
      width: 100%;
      margin-top: 0;
    }
  
    .events-detail {
      padding: 0;
    }
  
    li.date p {
      margin: 0;
    }
  }
  

  /* Heading */




  .imgMain{
      margin: auto;
      padding: 30pt;
  }




/* .carImg {
  opacity: 0.7;
  filter: alpha(opacity=50); 
}

.carImg:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); 
} */

.parallax { 
  /* The image used */
  background-image: linear-gradient(
    to top,
    rgba(0,45,75,0.2),
    rgba(0,0,0,0.9)
);

  /* Set a specific height */
  height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 700px) and (max-width: 2000px) {
  .carImg{
    width: 100%;
    height: 120vh !important;   
  }
  .Mainhead{
    margin: auto;
    text-align: center;
    padding: 20pt;
}
}

@media (min-width: 320px) and (max-width: 480px) {
  
  .carImg{
    width: 100%;
    height: 250px !important;
    /* opacity: 0.8; */
  }  
  .Mainhead{
    margin: auto;
    text-align: center;
    padding: 10pt;
    font-size: 15pt;
}

}
  

.events-detail li {
  padding: 10px;
  border-bottom: 1px dashed #ccc;
  line-height: 5px;
  transition: ease .4s all;
  padding-top: 15px;
}


.card {
  padding-left:auto;
  padding-right:auto;
  min-height:420px;
  margin-top:15px;
 box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
 -webkit-transition: .25s box-shadow;
 transition: .25s box-shadow;
}
.card:focus, .card:hover {
 box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.card-inverse .card-img-overlay {
 background-color: rgba(51, 51, 51, 0.85);
 border-color: rgba(51, 51, 51, 0.85);
}
.card-img-top{
  /* margin-top:10px; */
  height: 317pt !important;
}
.col-xs-12{
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}


.card-title{
  padding: 25pt;
  margin-bottom: 35pt;
}

.card-footer{
  padding-top: 10pt;
  padding-bottom: 10pt;
}

/*  */

#box {
  margin: auto;
  padding: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  color: black;
  font-size: 2.5rem;
  pointer-events: none;
}
.gradient-border {
  --borderWidth: 3px;
  
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.parent {
  text-align: center
}

.parent h1 {
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: transparent transparent #272727 transparent;
  text-transform: uppercase;
  font-weight: bold;
  color: #272727;
  padding: 15px 30px;
  display: inline-block;
  overflow: hidden;
}

.parent h1 hr {
  border: 1px solid red;
  position: absolute;
  top: 62%;
  right: 0;
  left: 0;
  width: 5%;
}
.parent h3 {
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: transparent transparent #272727 transparent;
  text-transform: uppercase;
  font-weight: bold;
  color: #272727;
  padding: 15px 30px;
  display: inline-block;
  overflow: hidden;
}

.parent h3 hr {
  border: 1px solid red;
  position: absolute;
  top: 62%;
  right: 0;
  left: 0;
  width: 5%;
}



.themeClass{
  font-size: 18pt;
  padding: 8pt; 
}

.navHead{
  font-weight: bolder;
}

.mainHeadImg{
  font-weight: bolder;
}

.smallHeadImg{
  font-weight: bold;
}

.contact{
  padding: 15pt;
  margin: auto;
}

.keynoteDudes{
  padding: 20pt;
  margin: 15pt;
}

.impDate{
  font-weight: bold;
  color: red;
}

.impDate2{
  font-weight: bold;
  color: #EEC213;
}

.impDate3{
  font-weight: bold;
  color: #019031;
}

.themeClass2{
  font-size: 12pt;
  padding: 4pt;
  align-content: center;
}


.h3{
  font-size: 16pt;
}

.smallShit{
  font-size: 14pt;
  font-weight: bolder;
  /* margin-bottom: -5pt; */
}

.carSection{
  padding-bottom: 5%;
  margin-bottom: 5%;  
}

body { padding-top: 40px; }